@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #101010;
    gap: 100px;
}

#mainText {
    height: 850px;

    margin: 0px;
    padding: 0px;
    font-size: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    color: #F5F5F5;
}

#mainText>p {
    margin: 0px;
    padding: 2px;
}

#typed-text {
    color: #33FF33;
}

/*For the "typing" cursor.*/
.cursor {
    color: #33FF33;
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/*CSS for other divs under the main page.*/
#otherDiv {
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

#AMText {
    font-size: 100px;
    font-family: monospace;
    padding: 20px;
    margin: 0px;
}

#otherPageContainer>div {
    border: 2px solid #F5F5F5;
    border-radius: 25px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 25px;

    width: 350px;
    height: 350px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

#otherPageContainer {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Styling elements inside otherPageContainer boxes*/
#otherPageContainer>div>h1 {
    font-family: 'Lato', sans-serif;
}

#otherPageContainer>div>p {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#aboutMe {
    font-size: 19px;
}

#projects {
    font-size: 17px;
}

#otherPageContainer>div>a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #101010;
    border: 5px solid #F5F5F5;
    border-radius: 5px;
    padding: 10px;
    background-color: #F5F5F5;
    transition: 0.3s;
    margin-top: auto;
}

#otherPageContainer>div>a:hover {
    transition: 0.3s;
    border-color: #33FF33;
    background-color: #33FF33;
}

/* Skills CSS */
#skillsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding: 0 0 10em 0;
    margin: 0;
    
    p{
        padding: 1em 0 0 0;
        margin: 0;
        font-family: monospace;
        color: #33FF33;
        font-size: 6em;
    }

    .container {
        overflow: hidden;
        width: 80%;
        padding: 20px;

        .wrapper {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 12rem;
            gap: 0;
            width: max-content;
            animation: animate 20s linear infinite;

            i{
                padding: 10px 0;
                width: 100%;
                object-fit: cover;
                transition: transform 0.2s ease-in-out;
                color: white;
                font-size: 7.5em;
            }

            i:hover{
                transform: scale(1.1);
            }
        }

        .wrapper:hover{
            animation-play-state: paused;
        }
    }
}

@keyframes animate {
    to {
        transform: translateX(-50%);
    }
}

/*If screen smaller then 1636, need to change main text*/
@media (max-width: 1636px) {
    #mainText {
        font-size: 50px;
    }

    #changingTextDiv {
        font-size: 50px;
    }

    #typed-text {
        font-size: 50px;
    }

    #cursor {
        font-size: 50px;
    }
}

/*Tablet size*/
@media (max-width: 1023px) {
    #mainText {
        font-size: 3em;
        height: 650px;
    }

    #changingTextDiv {
        font-size: 1em;
    }

    #typed-text {
        font-size: 1em;
    }

    #cursor {
        font-size: 1em;
    }

    #otherDiv {
        width: 100%;
    }

    #otherDiv>p {
        font-size: 2em;
    }

    #otherPageContainer {
        width: 100%;

        display: flex;
        flex-direction: row;
    }

    #otherPageContainer>div {
        width: 50%;
        height: 47.5%;
    }

    #otherPageContainer>div>h1 {
        font-size: 1.25em;
    }

    #aboutMe {
        font-size: 1em;
    }

    #projects {
        font-size: 0.8em;
    }

    #otherPageContainer>div>a {
        font-size: 0.75em;
        width: 35%;
        height: 10%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 2px;
    }

        /* Skills bar */
    #skillsDiv {
        padding: 0 0 6em 0;
    }

    #skillsDiv p {
        font-size: 3em;
    }

    #skillsDiv .container {
        width: 100%;
    }

    #skillsDiv .wrapper {
        grid-auto-columns: 9rem;
    }

    #skillsDiv .container .wrapper i {
        font-size: 5.5em;
    }
}

/*Phone CSS styles*/
@media (max-width: 767px) {
    #mainText {
        font-size: 1.8em;
        height: 650px;
    }

    #changingTextDiv {
        font-size: 1em;
    }

    #typed-text {
        font-size: 1em;
    }

    #cursor {
        font-size: 1em;
    }

    #otherDiv {
        width: 100%;
    }

    #otherDiv>p {
        font-size: 2em;
    }

    #otherPageContainer {
        width: 100%;

        display: flex;
        flex-direction: row;
    }

    #otherPageContainer>div {
        width: 50%;
        height: 47.5%;
    }

    #otherPageContainer>div>h1 {
        font-size: 1.25em;
    }

    #aboutMe {
        font-size: 1em;
    }

    #projects {
        font-size: 0.8em;
    }

    #otherPageContainer>div>a {
        font-size: 0.75em;
        width: 35%;
        height: 10%;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 2px;
    }

    /* Skills bar */
    #skillsDiv {
        padding: 0 0 4em 0;
    }

    #skillsDiv p {
        font-size: 2em;
    }

    #skillsDiv .container {
        width: 100%;
        padding: 10px;
    }

    #skillsDiv .container .wrapper i {
        font-size: 4.75em;
    }

    #skillsDiv .wrapper {
        grid-auto-columns: 6.5rem;
    }

    #skillsDiv .wrapper i {
        font-size: 4em;
    }
}