@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #101010;
    gap: 100px;
}

#mainText {
    height: 850px;

    margin: 0px;
    padding: 0px;
    font-size: 100px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    color: #F5F5F5;
}

#mainText>p {
    margin: 0px;
    padding: 2px;
}

#typed-text {
    color: #33FF33;
}

/*For the "typing" cursor.*/
.cursor {
    color: #33FF33;
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/*CSS for other divs under the main page.*/
#otherDiv {
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}

#AMText {
    font-size: 100px;
    font-family: monospace;
    padding: 20px;
    margin: 0px;
}

#otherPageContainer>div {
    border: 2px solid #F5F5F5;
    border-radius: 25px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 25px;

    width: 350px;
    height: 350px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

#otherPageContainer {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Styling elements inside otherPageContainer boxes*/
#otherPageContainer>div>h1 {
    font-family: 'Lato', sans-serif;
}

#otherPageContainer>div>p {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#aboutMe {
    font-size: 19px;
}

#projects {
    font-size: 17px;
}

#otherPageContainer>div>a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #101010;
    border: 5px solid #F5F5F5;
    border-radius: 5px;
    padding: 10px;
    background-color: #F5F5F5;
    transition: 0.3s;
    margin-top: auto;
}

#otherPageContainer>div>a:hover {
    transition: 0.3s;
    border-color: #33FF33;
    background-color: #33FF33;
}